
.powerupButton {
  width: 200px;
  height: 60px;
}

button {
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: fit-content; */
  width: 450px;
  height: 40px;
  margin: 5px;
  border: 5px solid rgba(255, 255, 255, 1);
  font-size: 1rem;
  cursor: pointer;
  background: #181818;
}

button > .button_label {
  font-family: var(--button-label-font-family);
  position: relative;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--hover-color) 0%,
    var(--hover-color) 50%,
    var(--base-color) 50%,
    var(--base-color) 100%
  );
  background-repeat: repeat;
  background-size: 200%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-position 300ms;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--base-color);
  transform-origin: 100% 0;
  transform: scale3d(0, 1, 1);
  transition: transform 300ms;
}

button:hover .button_label {
  background-position: 0 0;
}

button:hover::before {
  transform-origin: 0 0;
  transform: scale3d(1, 1, 1);
}

button:disabled {
  background: #aaaaaa;
  color: #3d3d3d;
  cursor: default;
}

button:hover:disabled .button_label {
  background-position: 100% 0;
}

button:hover:disabled::before {
  transform-origin: 100% 0;
  transform: scale3d(0, 1, 1);
}
