/*****************/
/* GENERAL MODAL */
/*****************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
  vertical-align: middle;
}

/* Modal Content/Box */
.modal-content {
  background-color: #3D3D3D;
  margin: 50px;
  padding: 20px;
  border: 1px solid #888;
  width: 700px; /* Could be more or less, depending on screen size */
}

.modal-content > h2 {
  align-items: center;
}

.modal:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/***************/
/* STATS MODAL */
/***************/
.statsModalCloseBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.statsModalCloseBtn:hover,
.statsModalCloseBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.statsContent > div {
  border: white 5px solid;
  padding: 10px;
}
