
.tooltip {
  display: none;
  width: 325px;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 20px;
  text-align: left;
  position: absolute;
  left: 10px;
  margin-top: 22px;
  z-index: 1;
}

button:hover .tooltip {
  display: block;
}
