:root {
  --base-color: rgba(255, 255, 255, 1);
  --hover-color: #4bacb8;
  --body-font-family: "PT Sans";
  --button-label-font-family: "Russo One";
}

#body {
  background-color: #181818;
  color: #ffffff;
  font-family: var(--body-font-family);
}

.nav {
  height: 50px;
  border-bottom: 5px solid var(--base-color);
  padding-bottom: 4px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  font-family: var(--button-label-font-family);
  font-size: 1.5rem;
}

.nav-left {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
}

.nav-right {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}

#maze {
  border-collapse: collapse;
  border: 0px;
}

#maze td {
  width: 20px;
  height: 20px;
}

#upgradeTab {
  padding: 5px;
  flex: 0 0 500px;
  border: 2px solid black;
}

#powerUpButtonRow > button {
  margin-left: 10px;
  width: 200px;
}

#powerUpButtonRow {
  display: flex;
}

#powerUpRoot {
  padding: 5px;
  margin-top: 30px;
  width: 500px;
  border: 2px solid black;
  flex: auto;
}

#tabsRoot {
  display: flex;
}

#points {
  margin: 0px 10px;
}

.statsContent {
  display: flex;
}

#statsModal h1 {
  text-align: center;
}

.statsContent > div {
  display: block;
  flex-grow: 1;
}
