:root {
  --base-color: rgba(255, 255, 255, 1);
  --hover-color: #4bacb8;
  --body-font-family: "Russo One";
  --button-label-font-family: "Russo One";
  --upgrade-button-width: 400px;
  --upgrade-row-width: 500px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

#root {
  margin-top: 80px;
  display: flex;
}

#body {
  background-color: #181818;
  color: white;
  font-family: var(--body-font-family);
}


/* CONTENT SPLITS */
#leftSplit {
  flex-direction: column;
  width: fit-content;
}

#middleSplit {
  width: var(--upgrade-row-width);
  flex-direction: column;
}

#middleSplit h2 {
  width: var(--upgrade-button-width);
  text-align: center;
}

#rightSplit {
  width: var(--upgrade-row-width);
  flex-direction: column;
}

#rightSplit h2 {
  width: var(--button-width);
  text-align: center;
}


/* MAZE */
#maze {
  border-collapse: collapse;
  border: 0px;
}

#maze td {
  width: 20px;
  height: 20px;
}


/* POWER UPS */
#powerUpButtonRow > button {
  margin-left: 10px;
  width: 250px;
}

#powerUpButtonRow {
  display: flex;
  justify-content: center;
}

#powerUpRoot {
  padding: 5px;
  flex: auto;
}
